<form>
    <mat-card class="mat-form login-form">
        <mat-card-title>Login</mat-card-title>
        <mat-card-content>
            <mat-form-field class="full-width">
                <input [(ngModel)]="getLogin().username" name="username" matInput placeholder="Username ">
            </mat-form-field>
            <mat-form-field class="full-width ">
                <input type="password" matInput #password placeholder="Password" [(ngModel)]="getLogin().password" name="password">
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
            <div class="full-width">
                <button mat-button class="full-width" (click)="authenticate()">Login</button>
                <button mat-button class="full-width" (click)="newUserClick()">New User? Register</button>
            </div>
        </mat-card-actions>
        <app-errors class="{{getErrors().length === 0 ? 'hidden' : ''}}" [errors]="getErrors()"></app-errors>
    </mat-card>
</form>
<app-loading [isLoading]="getLoading()">
</app-loading>